
    <h3>Shopping Cart</h3>
    <div>Items: {{ data.order.items.length }}</div>
<div>SubTotal: {{ data.order.subtotal }}</div>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>Lesson</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Total</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of data.order.items">
                <td>{{ o.lessonCategory }}</td>
                <td>{{ o.quantity }}</td>
                <td>{{ o.unitPrice | currency }}</td>
                <td>{{ (o.unitPrice * o.quantity) }}</td>
            </tr>
        </tbody>
    </table>
<a routerLink="checkout" class="btn btn-success" *ngIf="data.order.items.length > 0"></a>
