<!--the code on this page was inspired and guided from
https://app.pluralsight.com/library/courses/aspnetcore-mvc-efcore-bootstrap-angular-web/table-of-contents
https://app.pluralsight.com/library/courses/aspdotnet-core-dependency-injection/table-of-contents
https://app.pluralsight.com/library/courses/architecting-aspnet-core-mvc-unit-testability/table-of-contents
https://app.pluralsight.com/library/courses/aspnet-core-fundamentals/table-of-contents -->

<div class="row">
    <div class="col-md-9">
        <h3>{{ title }}</h3>
        <lesson-list></lesson-list>
    </div>
    <div class="col-md-3">
        <div class="card bg-light p-2">
            <my-cart></my-cart>
        </div>
    </div>
</div>